.env
.env.backup
.env.production
.env.*.php
auth.json
vendor/
node_modules/
public/build
public/hot
public/storage
storage/*.key
storage/pail
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
/.idea
/.vscode
/.phpunit.cache
/.fleet
/.nova
/.zed
.DS_Store
Thumbs.db
*.tmp
*.swp
*.log
npm-debug.log
yarn-error.log
*.cache
*.zip
*.tar.gz
composer.phar
composer.lock
phpunit.xml
phpunit.xml.dist
.phpunit.result.cache
docker-compose.override.yml
docker-compose.*.local.yml
*.sublime-project
*.sublime-workspace
